.white {
  color: white;
}

.black {
  color: #272727;
}

.purple {
  color:#02024f;
}

.white-bg {
  background: white;
}

.black-bg {
  background: #272727;
}

.purple-bg {
  background: #02024f;
}
