html, body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  letter-spacing: 1rem;
}

p.spaced {
  letter-spacing: 0.5rem;
  font-size: 2rem;
}

.container {
  min-height: 100%;
}

.panel {
  margin: 0;
  padding: 7em 0 5em 0;
}

.widget {
  margin: 2rem;
}

img.small {
  height: 100px;
  width: 100px;
}

img.medium {
  height: 200px;
  width: 200px;
}

.one.panel {
  max-height: 100vh;
}

.half-one.panel {
  max-height: 50vh;
}

.third-one.panel {
  max-height: 33vh;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.horizontal-centered {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.near-top {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.near-bottom {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 20%);
}

a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

ul.inline {
  margin: 0;
}

ul.inline > li {
  display: inline-block;
  padding-left: 20px;
}

.hidden {
  display: none;
}

.active {
  color: black;
}

p.tight {
  padding: 0;
  margin: 0;
}

.icon {
  max-height: 25px;
}

#logo {
  height: 200px;
  width: 200px;
}

.small {
  font-size: 10px;
}

/* Bigger than 550 */
@media (max-width: 550px) {
  section.header, section.projects {
    text-align: center;
  }

  section.projects > .container > .row {
    margin-bottom: 10px;
  }
}

