html, body {
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  letter-spacing: 1rem;
  word-wrap: break-word;
}

p.spaced {
  letter-spacing: 0.5rem;
  font-size: 2rem;
}

a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.container {
  min-height: 100%;
}

.inner {
  padding: 5em 0 3em 0;
}

@media (max-width: 550px) {
  .inner.sunshine {
    padding: 10em 0 2em 0;
  }
}

.nugget {
  padding: 3rem 3rem 1rem 3rem;
  min-height: 275px;
  margin: 2rem 0 2rem 0;
}

.light-transparent-bg {
  background: rgba(255, 255, 255, 0.1);
}

.dark-transparent-bg {
  background: rgba(255, 255, 255, 0.2);
}

.widget {
  margin: 2rem;
}

.border-top {
  border-top: 0.5rem solid white;
}

.relative {
  position: relative;
}

.inline {
  display: inline;
}

.top-right-corner {
  position: absolute;
  top: 0;
  right: 0;
}

img.small {
  height: 100px;
  width: 100px;
}

img.medium {
  height: 200px;
  width: 200px;
}

.one.panel {
  max-height: 100vh;
}

.half-one.panel {
  max-height: 50vh;
}

.third-one.panel {
  max-height: 33vh;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.horizontal-centered {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.near-top {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.near-bottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

ul {
  list-style-type: none;
}

ul.inline {
  margin: 0;
}

ul.inline > li {
  display: inline-block;
  padding-left: 20px;
}

.hidden {
  display: none;
}

.active {
  color: black;
}

p.tight {
  padding: 0;
  margin: 0;
}

.icon {
  max-height: 25px;
}

#logo {
  height: 200px;
  width: 200px;
}

#workshop {
  background: url(../images/dark-crystal-workshop-01.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 300px;
}

@media (max-width: 550px) {
  #logo {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 550px) {
  h1 { font-size: 3.0rem; }
  h2 { font-size: 2.2rem; }
}

.small {
  font-size: 10px;
}
